div {
    font-family:Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner {
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.info {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}